$orange: hsla(16, 97%, 63%, 0.333);
$orange2: hsla(16, 97%, 63%, 0.795);

////////////////////////////////////////////////////////////////////////////////
////////////////////////Landing Page ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.landing-body {
  background: radial-gradient(circle at center, rgb(10, 16, 15) 0%, rgb(0, 0, 0) 50%);
  height: 100vh;
}

.landing-container {
  display: flex;
  flex-direction: column;

    .logo {
      padding: 2rem 0 2rem;
      width: 23vmax;
      height: 23vmax;
      align-self: center;
    }
    .light-1 {
      padding-right: 100px;
      align-self: center;
    }

    .light-2 {
      padding-left: 100px;
      align-self: center;
    }

    .landing-title {
      align-self: center;
    }
 }

.landing-nav {
  .landing-list-container {
    display: flex;
    justify-content: center;
    padding: 0;
    .landing-li {
      margin-top: 2rem;
      .landing {
        padding: 1rem 4vw;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        color: white;
        font-size: 1.2rem;
        transition: 0.2s;
        background: transparent;
      }
      .landing:hover {
        background: $orange;
        transition: 0.2s;
      }
    }
  }
}

.landing-footer {
  background: transparent;
    h6{
      color: white;
      font-size: 0.8rem;
      margin: auto;
    }
}

@media all and (max-width: 900px){
  .landing-container {
      .light-1 {
        padding-right: 70px;
      }
  
      .light-2 {
        padding-left: 70px;
      }
   }
}

@media all and (max-width: 450px) {
  .landing-nav {
    .landing-list-container {
      display: flex;
      padding: 0;
      .landing-li {
        margin-top: 2rem;
        .landing {
          padding: 1rem 4vw;
          color: white;
          font-size: 0.8rem;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
//////////////////////////// PORTFOLIO GALLERY /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.header {
  background: radial-gradient(circle at center, rgb(10, 16, 15) 0%, rgb(0, 0, 0) 25%);
  display: flex;
  flex-direction: column;
  padding: 3rem 0 3rem;
  .light-1 {
    align-self: center;
    padding-right: 100px;
  }
  .light-2 {
    align-self: center;
    padding-left: 100px;
  }
  .center {
    align-self: center;
  }
  .landing-title {
    margin-bottom: 0.2rem;
  }
}
nav {
  ul {
    display: flex;
    justify-content: center;
    padding: 0;
    li {
      margin-top: 2rem;
      a {
        padding: 1rem 4vw;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        color: white;
        font-size: 1.2rem;
        transition: 0.2s;
        background: transparent;
      }
      a:hover {
        background: $orange;
        transition: 0.2s;
      }
    }
  }
}

main{
  background: radial-gradient(circle at center, rgb(10, 16, 15) 0%, rgb(0, 0, 0) 50%);
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .gallery-header {
    width: 100%;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
  }

  .gallery-div {
    margin: 1em;
    border-radius: 10px; 
    transition:0.4s;
    img {
      width: 40vw;
      margin: 1rem;
      display: block;
      border-radius: 5px; 
      min-width: 300px;
      transition:0.4s; 
    }
      .description {
        color: white;
        text-align: center;
      }
    .logos{
      width: 20vw;
      margin: 0;
      display: block;
      border-radius: 5px; 
      min-width: 200px;
      border-radius: 5px;
      transition:0.4s;
    }
  }
  .gallery-div:hover{
    transform:scale(1.1);
  }
}

.logos{
  background: hsl(0, 0%, 100%);
}


@media all and (max-width: 900px){
  .header {
      .light-1 {
        padding-right: 70px;
      }
  
      .light-2 {
        padding-left: 70px;
      }
   }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////MOBILE MENU ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.menu {
  background: url("/images/menu.svg");
  width: 35px;
  height: 35px;
  background-size: 35px;
  position: fixed;
  top: 20px;
  right: 20px;
  transition:0.4s;

  display: none;
}

.close {
  background: url("/images/close.svg");
  width: 35px;
  height: 35px;
  background-size: 35px;
  position: fixed;
  top: 20px;
  right: 20px;

  display: none;
}

@media all and (max-width: 650px) {
  nav {
    ul {
      display: flex;
      padding: 0;
      li {
        margin-top: 0.7rem;
        a {
          display: block;
          padding: 1rem 4vw;
          border-top:none;
          border-bottom:none;
          color: white;
          font-size: 1.5rem;
        }
        a:hover {
          background: transparent;
        }
      }
    }
  }
  header ul {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 50vh;

    background-color: rgb(5, 5, 5);
    border-left: 2px solid $orange;
    border-bottom: 1px solid $orange;

    flex-direction: column;
    justify-content: stretch;

    transition: transform 0.3s;
    transform: translateX(0px)
  }
  .menu-open {
    transform: translateX(-200px);
    border-bottom-left-radius: 25px;
    z-index: 10;
    transition: 0.3s;
  }

  .menu-close {
    transform: translateX(0px);
  }

  .menu {
    display: block;

    cursor: pointer;
  }

  .close {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;

    cursor: pointer;
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////ABOUT//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.about-title {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 2.2rem;
}
.about-title2 {
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

.about-p {
  margin: 2rem auto 0 auto;
  padding-bottom: 2rem;
  text-align: center;
  max-width: 75ch;
  color: white;
}

.nathan {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  img{
  align-self: center;
  width: 15vmax;
  border-radius: 50%;
  }
}

.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .gallery-header {
    width: 100%;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.6rem;
  }
  .about-gallery {
    margin: 1em;
    transition:0.4s;
    img {
      width: 5vmax;
      margin: .5rem;
      display: block;
      border-radius: 5px;
      transition:0.4s; 
    }
    .sass {
      background: white;
    }
  }
  .about-gallery:hover{
    transform:scale(1.2);
  }
}

.google-map{
  display:flex;
  justify-content: center;
  border: none;

  margin: 2rem 0 0;
  padding-bottom: 4rem;

}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////Contact////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

section.centered {
  display: grid;
  grid-template: .2fr 1fr / 1fr;
    .contact {
      margin: 0;
      color: white;
      text-align: center;
      align-self: center;
    }
    .grid {
      justify-self: center;
      align-self: center;
      form {
        width: 60vw;
        margin: 1em;

        background-color: transparent;
        border: none;
        border-radius: 10px;
        box-shadow: 6px 4px hsla(0deg, 0%, 0%, 0.15);

        grid-column: 2 / 3;
        grid-row: 3 / 5;
        justify-self: center;
        align-content: center;
        fieldset {
          border: 0;
          legend {
            display: none;
          }
          .form {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 1rem;
            label {
              font-size: 1.2rem;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            input {
              width: 50%;
              min-width: 1%;
              padding: 1rem;
              border-radius: 25px;
              border: none;

              justify-self: center;
            }
            textarea {
              width: 75%;
              min-width: 1%;
              padding: 1rem;
              border-radius: 25px;
              border: none;

              justify-self: center;
            }
            #name {
              margin-top: 1rem;
            }
            #email {
              margin-top: 1rem;
            }
            #comment {
              margin-top: 1rem;
            }
            #submit {
              margin-top: 2rem;
              margin-bottom: 1rem;
              padding: 1rem 2rem 1rem 2rem;
              font-size: 1rem;
              font-variant: small-caps;

              border: 1px solid white;
              border-radius: 0.25rem;
              background: $orange;
              color: white;
              transition: 0.3s;

              cursor: pointer;
            }
            #submit:hover {
              background: hsla(16, 97%, 63%, 0.75);
              transition: 0.3s;
            }
            .span { 
              max-width: 20%;
              margin: auto;

              display: flex;
              justify-content: center;
              grid-column: span 2;
            }
            .span2 {
              grid-column: span 2;
              display: flex;
              justify-content: center;
            }
            .required::after {
              content: ':';
            }
          }
        }
      }
    }
}

@media all and (max-width: 650px) {
  section.centered {
      .grid {
        form {
          width: 85vw;
          fieldset {
            border: 0;
            legend {
              display: none;
            }
            .form {
              input {
                width: 75%;
              }
            }
          }
        }
      }
  }
}

////////////////////////////////////////////////////////////////////////////////
//////////////////////////// FOOTER ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

footer {
  padding: 2rem 1rem 1rem;
  background: radial-gradient(ellipse at center, rgb(10, 16, 15) 0%, rgb(0, 0, 0) 50%);
  .social-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    a {
      text-decoration: none;
      align-items: center;
    }
      img {
        width: 1vw;
        height: 1vh;
        min-width: 40px;
        min-height: 40px;
        padding: 0.2rem .5em;
        margin: 0 .5rem;

        transition: 0.2s;
      }
      img:hover {
        transform: scale(1.2);
        transition: 0.2s;
      }
  }
}
h6 {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  color: white;
}
.address {
  margin-top: 0.5rem;
}
.ph {
  margin-bottom: 0.5rem;
}
// *****************************************************************************
////////////////////////////////////////////////////////////////////////////////
////////////////////////////ANIMATIONS//////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
//*****************************************************************************

#n-1, #n-2, #a-1, #a-2, #a-3, #a-4, #t, #h, #d, #e, #g, #r, #f {
	margin: 0;
	font-size: 40px;
	color: rgb(216, 162, 142);
	letter-spacing: 0.7em;
  height: 30vh;
  opacity: 0.15;
  text-shadow: 1px 1px rgb(37, 41, 44);
}
#t, #a-3, #e {
  opacity: 1;
  color: rgb(226, 60, 0);
	animation: flickere 4s linear  reverse infinite;
}
#t::after {
	content: '';
	width: 150%;
	-webkit-box-shadow: -35px 0px 60px 8px $orange2;
	-moz-box-shadow: -35px 0px 60px 8px $orange2;
	box-shadow: -35px 0px 60px 8px $orange2;
}
#a-3::after {
	content: '';
	width: 150%;
	-webkit-box-shadow: -35px 0px 60px 8px $orange2;
	-moz-box-shadow: -35px 0px 60px 8px $orange2;
	box-shadow: -35px 0px 60px 8px $orange2;
}
#e::after {
	content: '';
	width: 150%;
	-webkit-box-shadow: -35px 0px 60px 8px $orange2;
	-moz-box-shadow: -35px 0px 60px 8px $orange2;
	box-shadow: -35px 0px 60px 8px $orange2;
}
#a-1, #d, #r {
	animation: flickerhl1 4s linear reverse infinite;
	position: relative;
}
#a-1::after, 
#a-1::before  {
	content:' ';
	width: 100px;
	height: 100px;
	background: orangered;
	position: absolute;
	top: -50%;
	left: 100%;
	border-radius: 100%;
	opacity: 0.05;
	filter: blur(10px);
}
#a-1::after {
	width: 200px;
	height: 200px;
	top: -150%;
	left: -5%;
	opacity: 0.1;
	filter: blur(10px);
}
#h, #a-2, #a-4, #g {
	animation: flickerl2 4s linear reverse infinite;
}

#n-1, #n-2, #f {
	animation: flickero 4s linear reverse infinite;
}

@keyframes flickere {
	0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flickerhl1 {
	0% {
		opacity: 0.19;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.25;
	}
	15% {
		opacity: 0.35;
	}
	25% {
		opacity: 0.2;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.2;
	}
	60% {
		opacity: 0.4;
	}
	70% {
		opacity: 0.35;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.4;
	}
}

@keyframes flickerl2 {
	0% {
		opacity: 0.15;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.12;
	}
	15% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.15;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.05;
	}
	40% {
		opacity: 0.12;
	}
	45% {
		opacity: 0.15;
	}
	60% {
		opacity: 0.3;
	}
	70% {
		opacity: 0.2;
	}
	80% {
		opacity: 0.3;
	}
	90% {
		opacity: 0.18;
	}
	100% {
		opacity: 0.3;
	}
}

@keyframes flickero {
	0% {
		opacity: 0.08;
	}
	5% {
		opacity: 0.1;
	}
	10% {
		opacity: 0.08;
	}
	15% {
		opacity: 0.13;
	}
	25% {
		opacity: 0.08;
	}
	30% {
		opacity: 0.1;
	}
	35% {
		opacity: 0.09;
	}
	40% {
		opacity: 0.06;
	}
	45% {
		opacity: 0.1;
	}
	60% {
		opacity: 0.2;
	}
	70% {
		opacity: 0.1;
	}
	80% {
		opacity: 0.15;
	}
	90% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.1;
	}
}

.landing-title {
  animation: flicker 4s linear reverse infinite;
  color: rgb(216, 162, 142);;
}

@keyframes flicker {
	0% {
		opacity: 0.6;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.65;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.4;
	}
	40% {
		opacity: 0.5;
	}
	45% {
		opacity: 0.7;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.6;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@media all and (max-width: 400px){
  #n-1, #n-2, #a-1, #a-2, #a-3, #a-4, #t, #h, #d, #e, #g, #r, #f {
    font-size: 30px;
    height: 25vh;
  }
}
