doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name="keywoards" content="Nathan, deGraaf, portfolio, examples, ")
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/style.css')
    title Nathan-deGraaf
  body
    header
    block content
    nav
      ul
        -for(let item of Object.keys(nav))
          -let url = nav[item].href
          li: a(href='/' + url) #{nav[item].title}
    footer#landing-footer
      h6 © 2019 Nathan deGraaf