doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name="keywoards" content="Nathan, deGraaf, portfolio, examples, ")
    link(rel="icon", href="/images/favicon.png")
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/style.css')
    title Nathan-deGraaf
  body.landing-body
    header
      block content
    nav.landing-nav
      ul.landing-list-container
        li.landing-li: a.landing(href='index') Home
        li.landing-li: a.landing(href='portfolio') Portfolio
        li.landing-li: a.landing(href='about') About
        li.landing-li: a.landing(href='form') Contact
    footer.landing-footer
      h6 © 2019 Nathan deGraaf