doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name="keywoards", content="Nathan, deGraaf, portfolio, examples, ")
    meta(name="description", content="Nathan deGraaf Landing Page")
    link(rel="icon", href="/images/favicon.png")
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/style.css')
    title Nathan-deGraaf
  body
    header.header
      .light-1
        span#n-1 N
        span#a-1 a
        span#t t
        span#h h
        span#a-2 a
        span#n-2 n
      .light-2
        span#d d
        span#e e
        span#g G
        span#r r
        span#a-3 a
        span#a-4 a
        span#f f
      .center
        h2.landing-title Web Developer
      nav
        ul#menu
          #close.close
          li: a(href='index') Home
          li: a(href='portfolio') Portfolio
          li: a(href='about') About
          li: a(href='form') Contact
        #menu-button.menu
        .btt
          a(href="#")
            img(src="/images/sticky-btt.svg")
    block content
    footer
      span.social-container
        a(href='https://www.facebook.com/nathan.degraaf.12') 
          img#facebook(src='/images/facebook.svg', alt='a link to facebook')
        a(href='https://twitter.com/The_Real_Fludd') 
          img#twitter(src='/images/twitter.svg', alt='a link to twitter')
        a(href='https://github.com/Nathan-deGraaf') 
          img#gtihub(src='/images/github.svg', alt='a link to github')
        a(href="https://codepen.io/RunicFreak")
          img#codepen(src="/images/codepen.svg", alt="a link to codepen")
        a(href="https://www.linkedin.com/in/nathan-de-graaf-57591a196/")
          img#linkedIn(src='/images/linkedin.svg')
      h6.address Calgary, AB
      h6 em: nathanddegraaf@gmail.com
      a(href="privacy")
        h6 pricacy policy and terms
      h6.ph ph: (403)973-5678
      h6.copy © 2019 Nathan deGraaf 
    script(src="/js/script.js")