extends partials/layout

block content
  main.about-main
    h2.about-title Back End Focused Developer
    h2.about-title2 With Full Stack Experience
    .nathan
      img(src="/images/nathan.jpg", alt="Nathan profile picture")
    p.about-p My Name is Nathan deGraaf, a Junior Web Dev from Calgary, AB. My main focus is back end development to create dynamic websites and applications. I  also have an interest towards dev ops, using Amazon Web Services. However lately I have been learning more front end development, using Vue.js and React Native, along with css games with HAML.
    section.about
      h2.gallery-header What I 'know'
      .about-div
      .about-gallery
        img.html(src="/images/icons/html5.png", alt="html5 icon")
      .about-gallery
        img.css(src="/images/icons/css.png", alt="css icon")
      .about-gallery
        img.js(src="/images/icons/js.png", alt="javascript icon")
      .about-gallery
        img.sass(src="/images/icons/sass.png", alt="sass icon")
      .about-gallery
        img.node(src="/images/icons/node.svg", alt="node.js icon")
      .about-gallery
        img.npm(src="/images/icons/npm.png", alt="npm icon")
      .about-gallery
        img.mongo(src="/images/icons/mongo.png", alt="mongo db icon")
      .about-gallery
        img.pug(src="/images/icons/pug.svg", alt="pug/jade icon")
      .about-gallery
        img.wordpress(src="/images/icons/wordpress.png", alt="wordpress icon")
      .about-gallery
        img.jekyll(src="/images/icons/jekyll.svg", alt="jekyll icon")
      h2.gallery-header What I'm 'learning'
      .about-gallery
        img.react(src="/images/icons/react.png", alt="react native icon")
      .about-gallery
        img.vue(src="/images/icons/vue.png", alt="vue.js icon")
      h2.gallery-header Adobe Skills
      .about-gallery
        img.illustrator(src="/images/icons/illustrator.png", alt="adobe illustrator icon")
      .about-gallery
        img.photoshop(src="/images/icons/photoshop.png", alt="adobe photoshop icon")
      .about-gallery
        img.xd(src="/images/icons/xd.png", alt="adobe XD icon")
      .about-gallery
        img.after-effects(src="/images/icons/after-effects.png", alt="adobe After-effects icon")
    p.about-p Everyday I learn more. Thats the beauty of being a developer. No one knows everything.

