extends partials/layout

block content
  main
    section.centered
      h2.contact Contact
      .grid
        form(action='https://formspree.io/xqkajerk', method='POST', enctype='application/x-www-form-urlencoded')
          fieldset
            legend Get in touch!
            section.form

              label#name.required.span2(for='name') Name
              input(type='text', name='name' placeholder='Name', required)

              label#email.required.span2(for='email') Email
              input(type='email', name='email' placeholder='example@example.com', required)

              label#comment.span2(for='comment') Comment
              textarea.span2(name='comment', cols='30', rows='10', placeholder="I just think you're so neat")

              input#submit.span(type='submit', value='Send')
