extends partials/landing

block content
  .landing-container
    img.logo(src="/images/logo.svg")
    .light-1
      span#n-1 N
      span#a-1 a
      span#t t
      span#h h
      span#a-2 a
      span#n-2 n
    .light-2
      span#d d
      span#e e
      span#g G
      span#r r
      span#a-3 a
      span#a-4 a
      span#f f
    h2 Junior Web Developer
