extends partials/layout

block content
  main.gallery-main
    section.gallery
      h2.gallery-header My Websites
      div.break
      .gallery-div
        h3.description RunicFreak
        a(href="https://runicfreak.com/")
          img.runicfreaksite(src="/images/sites/runicfreak-min.png", alt="RunicFreak official website")
      .gallery-div
        h3.description Backyard Meats
        a(href="https://backyardmeats.ca/")
          img.backyardmeats(src="/images/sites/backyardmeats-min.png", alt="Backyard Meats official website")
      h2.gallery-header In Development
      div.break
      .gallery-div
        h3.description SoberDry
        a(href="https://sober-dry.myshopify.com/")
          img.soberdry(src="/images/sites/soberdry-min.png", alt="soberdry official website")
      .gallery-div
        h3.description Outdoor.Dental
        a(href="https://outdoor.dental/dev/")
          img.outdoordental(src="/images/sites/outdoordental-min.png", alt="soberdry official website")
      h2.gallery-header SAIT Assignments
      div.break
      .gallery-div
        h3.description Calgary Real Estate 
        a(href="https://wp-portfolio.com/")
          img.wp-portfolio(src="/images/sites/wp-portfolio.png", alt="Wordpress Site")
      .gallery-div
        h3.description Decal City 
        a(href="https://decalcity-v2.netlify.com/")
          img.decal-city(src="/images/sites/decal-city.png", alt="decal city website")
      .gallery-div
        h3.description The Art Of Jazz
        a(href="https://nathan-jekyll.netlify.com/")
          img.jekyll(src="/images/sites/jekyll-blog.png", alt="Jazz Jekyll Blog")
      .gallery-div
      h2.gallery-header Pens and Projects
      div.break
      .gallery-div
        h3.description Vue.js Clock
        a(href="https://codepen.io/RunicFreak/pen/yLyJapd")
          img.clock(src="/images/vuejs-clock.JPG", alt="vue.js digital clock")
      h2.gallery-header Illustrator logos
      div.break
      .gallery-div
        img.logos(src="/images/logos/rtlogo.png", alt="runic trickster logo red/black")
      .gallery-div
        img.logos(src="/images/logos/rtblk.png", alt="runic trickster logo black")
      .gallery-div
        img.logos(src="/images/logos/rt-banner.png", alt="runic tricksters trickster")
      .gallery-div
        img.logos(src="/images/logos/sax-logo.svg", alt="Alto Saxophone logo")
      .gallery-div
        img.logos(src="/images/logos/train.png", alt="jacks tracks logo")
      .gallery-div
        img.logos(src="/images/logo.svg", alt="Nathan degraaf logo")
      .gallery-div
        img.logos(src="/images/logos/rf-logo.png", alt="Runic Freak logo")
      .gallery-div
        img.logos(src="images/logos/backyardmeats-logo.png", alt="Backyard Meats Logo")
      h2.gallery-header After Effects
      div.break
      .gallery-div
        h3.description RunicFreak Outro AE
        iframe(width='560' height='315' src='https://www.youtube.com/embed/0A9bC0U0l_s' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        h3.description This After Effect outro was made using a template, manipulating the colours and keyframes. I would love to learn more!
