extends partials/layout

block content
  main.gallery-main
    section.gallery
      h2.gallery-header Websites
        div.gallery-div
          img.wp-portfolio(src="/images/sites/wp-portfolio.jpg", alt="Wordpress Site")
        div.gallery-div
          img.decal-city(src="/images/sites/decal-city.jpg", alt="decal city website")
        div.gallery-div
          img.jekyll(src="/images/sites/jekyll-blog.jpg", alt="Jazz Jekyll Blog")
        div.gallery-div
          img.api(src="/images/sites/api.jpg", alt="Blizzard api minor use")
      h2.gallery-header Pens and Projects
