extends partials/layout

block content
  main.gallery-main
    section.gallery
      h2.gallery-header Websites
      div.break
      .gallery-div
        h3.description Calgary Real Estate 
        a(href="https://wp-portfolio.com/")
          img.wp-portfolio(src="/images/sites/wp-portfolio.png", alt="Wordpress Site")
      .gallery-div
        h3.description Decal City 
        a(href="https://decalcity-v2.netlify.com/")
          img.decal-city(src="/images/sites/decal-city.png", alt="decal city website")
      .gallery-div
        h3.description The Art Of Jazz
        a(href="https://nathan-jekyll.netlify.com/")
          img.jekyll(src="/images/sites/jekyll-blog.png", alt="Jazz Jekyll Blog")
      .gallery-div
        h3.description Blizzard API
        a(href="https://nathanddegraaf-js-assignment-3.netlify.com/")
          img.api(src="/images/sites/api.png", alt="Blizzard api minor use")
      h2.gallery-header Pens and Projects
      div.break
      .gallery-div
        h3.description Vue.js Clock
        a(href="https://codepen.io/RunicFreak/pen/yLyJapd")
          img.clock(src="/images/vuejs-clock.JPG", alt="vue.js digital clock")
      h2.gallery-header Illustrator logos
      div.break
      .gallery-div
        img.logos(src="/images/logos/rtlogo.png", alt="runic trickster logo red/black")
      .gallery-div
        img.logos(src="/images/logos/rtblk.png", alt="runic trickster logo black")
      .gallery-div
        img.logos(src="/images/logos/shaco.png", alt="runic tricksters trickster")
      .gallery-div
        img.logos(src="/images/logos/sax-logo.svg", alt="Alto Saxophone logo")
      .gallery-div
        img.logos(src="/images/logos/train.png", alt="jacks tracks logo")
      .gallery-div
        img.logos(src="/images/logo.svg", alt="Nathan degraaf logo")
      .gallery-div
        img.logos(src="/images/rf-logo.png", alt="Runic Freak logo")
      .gallery-div
        img.logos(src="/images/WM-W.png", alt="Nathan degraaf logo")