.landing-body {
  background: radial-gradient(circle at center, #0a100f 0%, black 50%);
  height: 100vh; }

.landing-container {
  display: flex;
  flex-direction: column; }
  .landing-container .logo {
    padding: 2rem 0 2rem;
    width: 23vmax;
    height: 23vmax;
    align-self: center; }
  .landing-container .light-1 {
    padding-right: 100px;
    align-self: center; }
  .landing-container .light-2 {
    padding-left: 100px;
    align-self: center; }
  .landing-container .landing-title {
    align-self: center; }

.landing-nav .landing-list-container {
  display: flex;
  justify-content: center;
  padding: 0; }
  .landing-nav .landing-list-container .landing-li {
    margin-top: 2rem; }
    .landing-nav .landing-list-container .landing-li .landing {
      padding: 1rem 4vw;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      color: white;
      font-size: 1.2rem;
      transition: 0.2s;
      background: transparent; }
    .landing-nav .landing-list-container .landing-li .landing:hover {
      background: rgba(252, 118, 69, 0.333);
      transition: 0.2s; }

.landing-footer {
  background: transparent; }
  .landing-footer h6 {
    color: white;
    font-size: 0.8rem;
    margin: auto; }

@media all and (max-width: 900px) {
  .landing-container .light-1 {
    padding-right: 70px; }
  .landing-container .light-2 {
    padding-left: 70px; } }

@media all and (max-width: 450px) {
  .landing-nav .landing-list-container {
    display: flex;
    padding: 0; }
    .landing-nav .landing-list-container .landing-li {
      margin-top: 2rem; }
      .landing-nav .landing-list-container .landing-li .landing {
        padding: 1rem 4vw;
        color: white;
        font-size: 0.8rem; } }

.header {
  background: radial-gradient(circle at center, #0a100f 0%, black 50%);
  display: flex;
  flex-direction: column;
  padding: 3rem 0 3rem; }
  .header .light-1 {
    align-self: center;
    padding-right: 100px; }
  .header .light-2 {
    align-self: center;
    padding-left: 100px; }

nav ul {
  display: flex;
  justify-content: center;
  padding: 0; }
  nav ul li {
    margin-top: 2rem; }
    nav ul li a {
      padding: 1rem 4vw;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      color: white;
      font-size: 1.2rem;
      transition: 0.2s;
      background: transparent; }
    nav ul li a:hover {
      background: rgba(252, 118, 69, 0.333);
      transition: 0.2s; }

main {
  background: radial-gradient(circle at center, #0a100f 0%, black 50%); }

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .gallery .gallery-header {
    width: 100%;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem; }
  .gallery .gallery-div {
    margin: 1em;
    border-radius: 10px;
    transition: 0.4s; }
    .gallery .gallery-div img {
      width: 40vw;
      margin: 1rem;
      display: block;
      border-radius: 5px;
      min-width: 300px;
      transition: 0.4s; }
    .gallery .gallery-div .logos {
      width: 20vw;
      margin: 0;
      display: block;
      border-radius: 5px;
      min-width: 200px;
      border-radius: 5px;
      transition: 0.4s; }
  .gallery .gallery-div:hover {
    box-shadow: 0px 2px 10px black;
    transform: scale(1.1); }

.logos {
  background: white; }

@media all and (max-width: 900px) {
  .header .light-1 {
    padding-right: 70px; }
  .header .light-2 {
    padding-left: 70px; } }

.menu {
  background: url("/images/menu.svg");
  width: 35px;
  height: 35px;
  background-size: 35px;
  position: fixed;
  top: 20px;
  right: 20px;
  transition: 0.4s;
  display: none; }

.close {
  background: url("/images/close.svg");
  width: 35px;
  height: 35px;
  background-size: 35px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: none; }

@media all and (max-width: 650px) {
  nav ul {
    display: flex;
    padding: 0; }
    nav ul li {
      margin-top: 0.7rem; }
      nav ul li a {
        display: block;
        padding: 1rem 4vw;
        border-top: none;
        border-bottom: none;
        color: white;
        font-size: 1.5rem; }
      nav ul li a:hover {
        background: #050505; }
  header ul {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 50vh;
    background-color: #050505;
    flex-direction: column;
    justify-content: stretch;
    transition: transform 0.3s;
    transform: translateX(0px); }
  .menu-open {
    transform: translateX(-200px);
    border-bottom-left-radius: 25px;
    z-index: 10;
    transition: 0.3s; }
  .menu-close {
    transform: translateX(0px); }
  .menu {
    display: block;
    cursor: pointer; }
  .close {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer; } }

footer {
  padding: 2rem 1rem 1rem;
  background: radial-gradient(ellipse at center, #0a100f 0%, black 50%); }
  footer .social-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    footer .social-container a {
      text-decoration: none;
      align-items: center; }
    footer .social-container img {
      width: 1vw;
      height: 1vh;
      min-width: 40px;
      min-height: 40px;
      padding: 0.2rem .5em;
      margin: 0 .5rem; }

h6 {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  color: white; }

.address {
  margin-top: 0.5rem; }

.ph {
  margin-bottom: 0.5rem; }

#n-1, #n-2, #a-1, #a-2, #a-3, #a-4, #t, #h, #d, #e, #g, #r, #f {
  margin: 0;
  font-size: 40px;
  color: #d8a28e;
  letter-spacing: 0.7em;
  height: 30vh;
  opacity: 0.15;
  text-shadow: 1px 1px #25292c; }

#t, #a-3, #e {
  opacity: 1;
  color: #e23c00;
  animation: flickere 4s linear  reverse infinite; }

#t::after {
  content: '';
  width: 150%;
  -webkit-box-shadow: -35px 0px 60px 8px rgba(252, 118, 69, 0.795);
  -moz-box-shadow: -35px 0px 60px 8px rgba(252, 118, 69, 0.795);
  box-shadow: -35px 0px 60px 8px rgba(252, 118, 69, 0.795); }

#a-3::after {
  content: '';
  width: 150%;
  -webkit-box-shadow: -35px 0px 60px 8px rgba(252, 118, 69, 0.795);
  -moz-box-shadow: -35px 0px 60px 8px rgba(252, 118, 69, 0.795);
  box-shadow: -35px 0px 60px 8px rgba(252, 118, 69, 0.795); }

#e::after {
  content: '';
  width: 150%;
  -webkit-box-shadow: -35px 0px 60px 8px rgba(252, 118, 69, 0.795);
  -moz-box-shadow: -35px 0px 60px 8px rgba(252, 118, 69, 0.795);
  box-shadow: -35px 0px 60px 8px rgba(252, 118, 69, 0.795); }

#a-1, #d, #r {
  animation: flickerhl1 4s linear reverse infinite;
  position: relative; }

#a-1::after,
#a-1::before {
  content: ' ';
  width: 100px;
  height: 100px;
  background: orangered;
  position: absolute;
  top: -50%;
  left: 100%;
  border-radius: 100%;
  opacity: 0.05;
  filter: blur(10px); }

#a-1::after {
  width: 200px;
  height: 200px;
  top: -150%;
  left: -5%;
  opacity: 0.1;
  filter: blur(10px); }

#h, #a-2, #a-4, #g {
  animation: flickerl2 4s linear reverse infinite; }

#n-1, #n-2, #f {
  animation: flickero 4s linear reverse infinite; }

@keyframes flickere {
  0% {
    opacity: 0.4; }
  5% {
    opacity: 0.5; }
  10% {
    opacity: 0.6; }
  15% {
    opacity: 0.85; }
  25% {
    opacity: 0.5; }
  30% {
    opacity: 1; }
  35% {
    opacity: 0.1; }
  40% {
    opacity: 0.25; }
  45% {
    opacity: 0.5; }
  60% {
    opacity: 1; }
  70% {
    opacity: 0.85; }
  80% {
    opacity: 0.4; }
  90% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes flickerhl1 {
  0% {
    opacity: 0.19; }
  5% {
    opacity: 0.2; }
  10% {
    opacity: 0.25; }
  15% {
    opacity: 0.35; }
  25% {
    opacity: 0.2; }
  30% {
    opacity: 0.4; }
  35% {
    opacity: 0.1; }
  40% {
    opacity: 0.25; }
  45% {
    opacity: 0.2; }
  60% {
    opacity: 0.4; }
  70% {
    opacity: 0.35; }
  80% {
    opacity: 0.4; }
  90% {
    opacity: 0.2; }
  100% {
    opacity: 0.4; } }

@keyframes flickerl2 {
  0% {
    opacity: 0.15; }
  5% {
    opacity: 0.2; }
  10% {
    opacity: 0.12; }
  15% {
    opacity: 0.2; }
  25% {
    opacity: 0.15; }
  30% {
    opacity: 0.4; }
  35% {
    opacity: 0.05; }
  40% {
    opacity: 0.12; }
  45% {
    opacity: 0.15; }
  60% {
    opacity: 0.3; }
  70% {
    opacity: 0.2; }
  80% {
    opacity: 0.3; }
  90% {
    opacity: 0.18; }
  100% {
    opacity: 0.3; } }

@keyframes flickero {
  0% {
    opacity: 0.08; }
  5% {
    opacity: 0.1; }
  10% {
    opacity: 0.08; }
  15% {
    opacity: 0.13; }
  25% {
    opacity: 0.08; }
  30% {
    opacity: 0.1; }
  35% {
    opacity: 0.09; }
  40% {
    opacity: 0.06; }
  45% {
    opacity: 0.1; }
  60% {
    opacity: 0.2; }
  70% {
    opacity: 0.1; }
  80% {
    opacity: 0.15; }
  90% {
    opacity: 0.2; }
  100% {
    opacity: 0.1; } }

.landing-title {
  animation: flicker 4s linear reverse infinite;
  color: #d8a28e; }

@keyframes flicker {
  0% {
    opacity: 0.6; }
  5% {
    opacity: 0.5; }
  10% {
    opacity: 0.65; }
  15% {
    opacity: 0.85; }
  25% {
    opacity: 0.5; }
  30% {
    opacity: 1; }
  35% {
    opacity: 0.4; }
  40% {
    opacity: 0.5; }
  45% {
    opacity: 0.7; }
  60% {
    opacity: 1; }
  70% {
    opacity: 0.85; }
  80% {
    opacity: 0.6; }
  90% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@media all and (max-width: 400px) {
  #n-1, #n-2, #a-1, #a-2, #a-3, #a-4, #t, #h, #d, #e, #g, #r, #f {
    font-size: 30px;
    height: 25vh; } }
